// Specific CSS for your home-page


.header{ position:sticky; top: 0 ; }

.desktop-card-header {
  color: #005BAC;
  font-family: Exo;
}

.table-text-info {
  color: #2E2E2E;
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}





// small screens

@media (min-width: 100px) and (max-width: 575px) {


  .desktop-table {
    display: none;
  }

  .mobile-card {

    width: 368px;
    height: 254px;
    flex-shrink: 0;
    border-radius: 52px;
    background: #F8F8F8;
  }

  .mobile-card-header {
    width: 468px;
    height: 100px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.05);


    color: #005BAC;
    font-family: Exo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
  }


  .mobile-card-row-header {
    color: rgba(46, 46, 46, 0.80);
    text-align: right;
    font-family: Exo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10%;
    padding-right: 20px;
    margin-bottom: 20px;
  }

}

// big screens

@media (min-width: 992px) {

.mobile-table {

  display: none;
}



}
